# .env 
NODE_ENV="development"
DATABASE_URL="postgresql://kompra:kompra_dev@localhost:5433/kompra_dev"
JWT_SECRET="JWT_SECRET"
REFRESH_SECRET="REFRESH_SECRET"
ENCRYPTION_KEY=secret
# EMAIL_FROM is used with Resend for email verification (default: onboarding@resend.dev)
EMAIL_FROM=onboarding@resend.dev
SMTP_PASS="nqjgagxcnwncdzmo"
SMTP_USER="rai.rusianaemmanuel@gmail.com"
PASS="nqjg agxc nwnc dzmo"
RESEND_API_KEY=secret #ask
FRONTEND_URL="http://localhost:8081"
REDIS_URL=redis://127.0.0.1:6379
DEFAULT_PAYMENT_ENVIRONMENT=SANDBOX
KYC_ENFORCEMENT_PROD_ONLY=false